@import url(./reset.css);
:root{
    --white: #fff;
    --black: #000;
    --black-transparent: rgba(0, 0, 0, 0.75)
}
/* Body */

p{
    font-family: Sanchez, sans-serif;
}

h1 h2 h3 h4 h5 h6{
    font-family: Montserrat, sans-serif;
}

h1{
    font-size: 1.5rem;
    text-shadow: 1px 1px 1px;
}

h2{
    font-weight: bold;
}

.index__h2{
    background-color: var(--black);
    color: var(--white);
    position: relative;
    left: 0rem;
    padding: 0.5rem 0.5rem 0.5rem 2rem;

}

@media only screen and (min-width: 480px){
    h1{
        font-size: 2rem;
    }
    .index__h2{
        left: -1.5rem;
        clip-path: polygon(0% 0%, 100% 0, 90% 50%, 100% 100%, 0% 100%);
    }
}

body{
    display: flex;
    width: 100%;
    flex-direction: column;
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    min-height: 100vh;
}
@media only screen and (min-width: 480px){
    .index__h2{
        left: -2.5rem;
        padding: 0.5rem 0.5rem 0.5rem 3rem;
    }
}

@media only screen and (min-width: 768px){
    .index__h2{
        background-color: var(--black);
        color: var(--white);
        position: relative;
        left: -4rem;
        padding: 0.5rem 0.5rem 0.5rem 5rem;
        clip-path: polygon(0% 0%, 100% 0, 90% 50%, 100% 100%, 0% 100%);
    }
}

/* Header */

header{
    width: 100%;
    display: flex;
    position: relative;
    top: 0px;
    background-color: var(--black-transparent);
    box-shadow: 0px 3px 2.5px;
    padding: 1rem 0rem 0rem;
    z-index: 40;
}
.header__menu{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__menu hr{
    width: 100%;
    height: 0.05rem;
    background-color: var(--white);
}

.header__menu--vertical{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__menu--vertical img{
    width: 10%;
}

.header__menu--vertical img:hover{
    cursor: pointer;
}

.header__menu--vertical--ele{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.25rem;
    width: 100%;
    text-align: center;
    transition: all 2s;
}

.header__menu--vertical--ele > *{
    width: 100%;
    padding: 1%;
    margin: 0.5% 0%;
    border: 2px solid var(--white);
    background-color: var(--black-transparent);
}

.header__menu--vertical--ele li{
    transition: 1s;
}

.header__menu--vertical--ele a{
    color: var(--white);
    text-decoration: none;
}

.header__menu--vertical--ele li:hover{
    transform: translateX(-0.1rem) translateY(-0.1rem);
}

.header__menu--big-screen{
    width: 100%;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header__menu--big-screen li{
    display: flex;
    width: 20%;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
}
.header__menu--big-screen li > a{
    display: block;
    width: 100%;
    height: auto;
    padding: 0.1rem;
    text-align: center;
    color: var(--white);
    text-decoration: none;
    font-size: 1.5rem;
}
.header__menu--small-screen{
    display: none;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.header__menu--small-screen img{
    width: 2rem;
    transition: all 0.5s;
}

.header__menu--small-screen img:hover{
    transform: scale(1.25);
}

@media only screen and (min-width: 480px) {
    header{
        position: fixed;
    }
    .header__menu--vertical{
        display: none;
    }
    .header__menu--small-screen{
        display: flex;
    }
  }

@media only screen and (min-width: 768px) {
    .header__menu--small-screen{
        display: none;
    }
    .header__menu--big-screen{
        display: flex;
        max-width: 900px;
    }
  }

/* Main */



main{
    display: flex;
    margin: 10% 0% 25%;
    background-color: var(--white);
    padding: 2.5% 2.5%;
    flex-direction: row;
    box-shadow: 2px 0px 5px;
    width: 90%;
    align-self: center;
}

@media only screen and (min-width: 480px) {
    main{
        margin: 20% 5% 20%;
        width: 80%;
        box-shadow: 5px 0px 5px;
    }
 }

 @media only screen and (min-width: 768px) {
    main{
        margin: 12.5% 5% 12.5%;
    }
 }

/* Lateral */

.main__lateral{
    display: none;
    width: 30%;
    padding: 5% 0% 15%;
    flex-direction: column;
    align-items: center;
    background-color: var(--black);
    border: var(--white) double;
    border-width: 0rem 0.5rem 0.5rem;
    position: relative;
    top: -70px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 90%, 0 100%);
    z-index: 20;
}

.main__lateral__content{
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 100px;
    align-items: center;
    width: 100%;
}

.main__lateral__content > * + *{
    margin-top: 0.5rem;
}

.main__lateral__content > img{
    width: 80%;
    border: double var(--white);
    border-width: 0.25rem;
}

.main__lateral__content > h2, h3{
    color: white;
}

/* Content */

.main__content{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 0rem 0rem 0rem 0rem;
}



.main__content hr{
    width: 100%;
    height: 0.25rem;
    background-color: var(--black);
}

.main__content__name{
    font-weight: bold;
}

@media only screen and (min-width: 1028px) {
    .main__lateral{
        display: flex;
    }
    .main__content{
        display: flex;
        width: 70%;
        flex-direction: column;
        margin: 0rem 0rem 0rem 2rem;
    }
  }

/* About Me */

.about{
    display: flex;
    flex-direction: column;
}

.about h2{
    font-size: 1.25rem;
    margin: 3rem 0rem 2rem;
}

.about p{
    text-align: justify;
}

@media only screen and (min-width: 480px){
    .about h2{
        font-size: 1.5rem;
    }
}

/* Skills */

.skills{
    display: flex;
    flex-direction: column;
}

.skills h2{
    font-size: 1.25rem;
    margin: 3rem 0rem 2rem;
}

.skills__lang{
    display: flex;
    flex-direction: column;
}

.skills__lang h3{
    font-size: 1rem;
    margin: 1.5rem 0rem 1rem;
    font-weight: bold;
    color: var(--black);
}

.skills__lang__group{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.skills__lang__group__ele{
    display: flex;
    flex-direction: column;
    margin: 2.5% 2.5%;
    width: 15%;
    min-width: 80px;
}

.skills__lang__group__ele img{
    width: 100%;
}

.skills__lang__group__ele p{
    text-align: center;
    font-size: 0.75rem;
    font-weight: bold;
}

.skills__tools{
    display: flex;
    flex-direction: column;
}

.skills__tools h3{
    font-size: 1rem;
    margin: 1.5rem 0rem 1rem;
    font-weight: bold;
    color: var(--black);
}

.skills__tools__group{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.skills__tools__group__ele{
    display: flex;
    flex-direction: column;
    margin: 2.5% 2.5%;
    width: 15%;
    min-width: 80px;
}

.skills__tools__group__ele * + *{
    margin-top: 0.5rem;
}

.skills__tools__group__ele img{
    width: 100%;
}

.skills__tools__group__ele p{
    text-align: center;
    font-size: 0.75rem;
    font-weight: bold;
}

@media only screen and (min-width: 480px){
    .skills h2{
        font-size: 1.5rem;
    }
    .skills__lang h3{
        font-size: 1.25rem;
    }
    .skills__tools h3{
        font-size: 1.25rem;
    }
}

/* Portfolio */

.certificates{
    display: flex;
    flex-direction: column;
}

.certificates h2{
    font-size: 1.25rem;
    margin: 3rem 0rem 2rem;
}

.certificates__group{
    display: flex;
    flex-direction: column;
    border: 1px solid var(--black);
}

.certificates__group__element{
    display: flex;
    flex-direction: column;
    margin: 0rem 0rem 0rem;
    align-items: center;
    box-shadow: 2px 2px 5px;
    background-color: var(--black);
}

.certificates__group__element + .certificates__group__element{
    margin: 0rem 0rem 0rem;
}

.certificates__group__element__image{
    display: flex;
    width: 100%;
}

.certificates__group__element__title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 2% 5%;
    color: var(--white);
}

.certificates__group__element__title h3{
    font-size: 1rem;
    text-align: center;
    font-weight: bolder;
}

@media only screen and (min-width: 480px){
    .certificates h2{
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 768px) {
    .certificates__group__element{
        flex-direction: row;
    }
    .certificates__group__element__image{
        width: 70%;
    }
    .certificates__group__element__title{
        width: 30%;
    }
    .certificates__group__element__title h3{
        font-size: 1.25rem;
        font-weight: 400;
    }
  }

/* Footer */

footer{
    display: flex;
    width: 100%;
    padding: 2% 0% 2%;
    background-color: var(--black);
    position: absolute;
    bottom: 0;
    justify-content: center;
    box-shadow: 0px -5px 5px;
}

footer h2{
    font-size: 1rem;
    text-shadow: 1px 1px 1px;
    color: var(--white);
}

/* Subpages */

.subpage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.subpage__header{
    text-align: center;
}

.subpage hr{
    width: 40%;
    height: 0.25rem;
    background-color: var(--black);
}

/* Curriculum */

.curriculum__group{
    margin: 2% 0% 0%;
    display: flex;
    flex-direction: column;
    width: 90%;
}

.curriculum__group__ele{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid var(--black-transparent);
    border-width: 2px 0px;
    padding: 1rem 1rem;
    width: 80%;
    max-width: 600px;
}

.curriculum__group__ele__img{
    width: 50%;
}

.curriculum__group__ele__info{
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 0.5rem 0rem;
    align-items: center;
}

.curriculum__group__ele__info > h3{
    color: var(--black);
    text-align: center;
}

.curriculum__group__ele__info * + *{
    margin-top: 0.5rem;
}

.curriculum__group__ele__info h3{
    font-weight: bold;
    font-size: 1.25rem;
}

.curriculum__group__ele + .curriculum__group__ele{
    border-width: 0px 0px 1px;
}

@media only screen and (min-width: 480px){
    .curriculum__group__ele{
        flex-direction: row;
    }
    .curriculum__group__ele__img{
        width: 40%;
    }
    .curriculum__group__ele__info{
        width: 60%;
    }
}

@media only screen and (min-width: 768px){
    .curriculum__group{
        width: 90%;
        align-items: center;
    }
    .curriculum__group__ele__img{
        width: 25%;
    }
    .curriculum__group__ele__info{
        width: 75%;
    }
}

/* Contact */

.contact{
    display: flex;
    width: 90%;
    border: solid var(--black);
    border-width: 0px 2px;
    padding: 1%;
}
.contact__group{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.contact__group > * + *{
    margin-left: 0rem;
}
.contact__group__ele{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}
.contact__group__ele img{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.contact__group__ele a{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contact__group__ele p{
    display: none;
    color: var(--black);
    font-size: 1.125rem;
    text-align: center;
}

@media only screen and (min-width: 480px){
    .contact__group__ele{
        width: 25%;
    }
    .contact__group__ele p{
        display: inline-block;
    }
}

/* Portfolio */

.portfolio{
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
}

.portfolio__ele{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}
.portfolio__ele__left{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2.5% 2.5%;
    border: 2px solid var(--black);
    box-shadow: 3px 3px 2px var(--black);
}
.portfolio__ele__left img{
    width: 100%;
    max-width: 300px;
}
.portfolio__ele__left h2{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 2% 0%;
}
.portfolio__ele__left p{
    text-align: justify;
}
.portfolio__ele__right{
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 2.5% 2.5%;
}
.portfolio__ele__right h3{
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
}
.portfolio__ele__right ul{
    padding: 5% 5%;
}
.portfolio__ele__right ul li{
    font-size: 1.25rem;
    list-style:disc;
}

@media only screen and (min-width: 480px){
    .portfolio__ele{
        flex-direction: row;
    }
    .portfolio__ele__left{
        width: 70%;
    }
    .portfolio__ele__right{
        width: 30%;
    }
    .portfolio__ele > * + *{
        margin-left: 1rem;
    }
}

@media only screen and (min-width: 480){
    main{
        margin: 10% 5% 25%;
    }
}